/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CSS Variables */
/* :root{
    --navbar-height:59;
} */

/*Navigation Bar*/
#main{
    position: sticky;
    top: 0%;
    opacity: 0.8;
}
#navbar{
    display: flex;
    align-items: center;

}
.container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;

}


#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; 
    /* opacity: 0.8; */
}

/*Navigation Bar: Logo and Image*/
#logo{
    /* padding-right: 50%; */
    margin: initial;
    /* float: left; */
    
}
#logo img{
    margin: 3px 6px;
    height: 54px;

}

/*Navigation Bar: List Styling*/

#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
    width: 50%;
    /* float: right; */
    position: relative;
    left: 50%;

}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 0.8rem;
    width: auto;
    padding: 20px;
}
.rectangle{
    border: 0px;
}
.btn{
    /* border: 1px solid whitesmoke;  */
    /* padding-top: 20px; */
}


#navbar ul li a{
    display: block;
    padding: 15px 15px;
    color: whitesmoke;
    text-decoration: none;  
}

#navbar ul li a:hover{
    background-color: whitesmoke;
    color: black;

}

/* Home1 Section */

#home1{
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 400px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
#home1::before{
    content: "";
    /* color: black; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; 
    /* opacity: 0.8; */
}

#home1 div img{
    height: 404px;
    width: 1349px;
}

/* Home2 Section */

#home2{
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 400px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid purple; */
}
#home2::before{
    content: "";
    /* color: black; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; 
    /* opacity: 0.8; */
}

#home2 h1{
    margin: 0px;
    text-align: center;
 }
 #home2 h2{
    margin: 0px;
    text-align: center;
 }

#home2 p{
    margin: 20px ;
    text-align: center;    
    color: black;
    font-size: 1.5rem;
 }

/* Home3 Section */
#home3{
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 400px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
}
#home3::before{
    content: "";
    /* color: black; */
    position: absolute;
    background: url(summer-nature-animated-gif-28.gif)  no-repeat center/cover;
    height: 395px;
    width: 1349px;
    z-index: -1; 
    opacity: 0.8;
}


 
/* Home4 Section*/
#home4{
    margin: 0px ;
    padding: 0px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    display: flex;
    /* border: 2px solid hotpink; */
} 

#home4 .box{
    
    align-items: center;
    display: flex;
}
#home4 .box img{
    /* display: flex; */
    /* border: 2px solid yellowgreen; */
    height: 700px;
}
#home4 p{
    text-align: center;    
    color: black;
    font-size: 1.5rem;
 }

 #home4 h1{
     margin: 0px;
    text-align: center;
 }

 #home4 h2{
     margin: 0px;
    text-align: center;
 }

#home4 p{
    margin: 20px;
    text-align: center;    
    color: black;
    font-size: 1.5rem;
 }

/* Utility class */

.heading1{
    /* font-family: 'Cinzel', serif; */
    font-size: 2.8rem;
    padding: 0px;
}
.heading2{
    /* font-family:  ; */
    font-size: 2rem;
    padding: 0px;
}

.view_btn{
    padding: 12px 20px;
    margin-top: 300px;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}

.about{
    margin: 12px;
    padding: 15px;
}
